#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat           text eol=crlf

# This file must use lf or build won't work in docker
gradlew         text eol=lf

